<div>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="position: fixed; width: 100%; top: 0;">
      <div class="container-fluid">
        <a class="navbar-brand"><img src="../../assets/CognitativeLogo.png" alt="CognitativeLogo" width="230px"
            height="40px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dotNET" routerLinkActive="active">.NET</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cSharp" routerLinkActive="active">C#</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/javaScript" routerLinkActive="active">JavaScript</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/sql" routerLinkActive="active">SQL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blogs</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
  <div class="footer-container">
    <footer>
      <hr>
      <p class="text-center">&copy; 2023 TestSRP. All rights reserved.</p>
    </footer>
  </div>
  <button class="back-to-top" onclick="scrollToTop()">Back to Top</button>
  <script>
    function scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }
    window.onscroll = function () {
      var button = document.querySelector('.back-to-top');
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        button.style.display = 'block';
      } else {
        button.style.display = 'none';
      }
    }
  </script>
</div>