<div class="heading-box">
    <h3>Blog</h3>
    <h5 style="margin-top: 20px; font-family: 'Times New Roman', Times, serif;">Last Updated On: 05/22/2023
    </h5>
</div>
<div class="container">
    <aside class="left-container">
        <p><strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                What's Trending!
            </strong>
        </p>
    </aside>
    <main class="right-container">
        <div id="news-container">
            <script>
                const fetchNews = async () => {
                    console.log("fetching News...");
                    var url = 'https://newsapi.org/v2/everything?' +
                        'q=Apple&' +
                        'pageSize=20&'+
                        'from=2023-05-30&' +
                        'sortBy=popularity&' +
                        'apiKey=fda8f90ebddf44fda7e02c13cd1f0068';
                    var req = new Request(url);
                    let response = await a.json()
                    console.log(response);
                }
            </script>
            <!-- <script>
                var url = 'https://newsapi.org/v2/everything?' +
                  'q=Technology&' +
                  'from=2023-05-30&' +
                  'sortBy=popularity&' +
                  'apiKey=fda8f90ebddf44fda7e02c13cd1f0068';
                var req = new Request(url);
                fetch(req)
                  .then(function(response) {
                    return response.json();
                  })
                  .then(function(data) {
                    // Update the HTML with the fetched data
                    var newsContainer = document.getElementById('news-container');
              
                    // Iterate through the articles and display them
                    data.articles.forEach(function(article) {
                      var articleElement = document.createElement('div');
                      articleElement.innerHTML = `
                        <h2>${article.title}</h2>
                        <p>${article.description}</p>
                        <a href="${article.url}" target="_blank">Read more</a>
                      `;
                      newsContainer.appendChild(articleElement);
                    });
                  })
                  .catch(function(error) {
                    console.log('Error fetching news:', error);
                  });
              </script> -->
        </div>

    </main>
</div>