<div class="heading-box">
    <h3>Blog</h3>
    <h5 style="margin-top: 20px; font-family: 'Times New Roman', Times, serif;">Last Updated On: 05/22/2023
    </h5>
</div>
<div class="container">
  <aside class="left-container">
    <p>
      <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
        What's Trending!
      </strong>
    </p>
    <div *ngFor="let article of articles; let i = index" (click)="scrollToHeading(i)">
      {{ i + 1 }}. {{ article.title }}
      <br><br>
    </div>
  </aside>
  <main class="right-container">
    <div *ngFor="let article of articles; let i = index" id="heading{{ i }}">
      <h4>{{ i + 1 }}. {{ article.title }}</h4>
      <p>{{ article.description }}</p>
      <a [href]="article.url" target="_blank">Read more</a>
    </div>
  </main>
</div>